<div>
  <h3>User info</h3>
  <% if @user.present? %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>
  <h6>name&emsp;<%= @user.name %></h6>
  <h6>introduction&emsp;<%= @user.introduction %></h6>
  <%# if @user == current_user %>
    <button type="button" class="btn btn-outline-dark">
    <p><%= link_to edit_user_path(@user) do %>
    <i class="fa-solid fa-user-gear" ></i>
    <%# end %>
    </p>
    </button>
  <% end %>
</div>
